body {
  font-family: sans-serif;
}

.container {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  font-family: arial, sans-serif;
  box-sizing: border-box;
  border: 1px solid #dadde1;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
}

.card-body {
  text-align: center;
}

.creator {
  font-size: x-small;
  color: ;
}

.repository {
  color: #198754;
  text-decoration: underline;
}
